body {
	font-size: 12px;
	background-color: #9acdfd;
	margin-left: 5px;
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
	SCROLLBAR-FACE-COLOR: #9acdfd; 
	SCROLLBAR-SHADOW-COLOR: #AAAAAA; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-3DLIGHT-COLOR: #AAAAAA; 
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	SCROLLBAR-BASE-COLOR: #DDDDDD;
	color:#003c6a;
	}
a{
	text-decoration:none;
}
a:link {  
	color: #003c6a;
	}
a:active {  
	color: #003c6a;
	}
a:visited {  
	color: #003c6a;
	}
a:hover {  
	color: #ff0000;
	}
TD { 
	font-size: 12px; 
	line-height: 150%; 
	}
	

