.pbtn1
{	
	border:solid 3px #036;
	padding:4px 14px 4px 34px;
	font-weight:5;
	color:#000;
}
.btn1
{
	background:url("../images/add.png") no-repeat 8px center;
	background-color:#f9f9f9;
}
.btn3
{
	background:url("../images/ok.png") no-repeat 8px center;
	background-color:#f9f9f9;
}

