#newnotice {position:absolute; top:500px;left:660;width:600px; border:solid #4d7fbc 1px;display: none;}
#newnotice p {margin:0px; padding:0px 2px 0px 5px; height:28px; background-color:#4d7fbc; }
#newnotice p .title {width:600px;float:left; height:29px; margin-left: 150px; padding-top:4px; font:bold "宋体","仿宋_GB2312","黑体"; color:white;}
#newnotice p #bts {display:block; float:right; margin-right:1px; height:29px;}
#newnotice p #bts .button {display:block; margin-top:5px; width:17px; height:17px; cursor:pointer;}
#newnotice p #bts #tomin {background-image:url(../images/min.gif);}
#newnotice p #bts #tomax {background-image:url(../images/max.gif);}
#noticecon {width:600px;font-size:12px; margin:0px; padding:0px 5px 0px 5px; background-color:white; height:85px; line-height:20px; text-align: center;}
.iframe_float_line {LINE-HEIGHT: 1px; MARGIN: 0px auto; WIDTH: 93%; BACKGROUND: url(../images/iframe_float_bg1.gif) repeat-x 0px 3px; HEIGHT: 8px; CLEAR: both; FONT-SIZE: 1px}
#mpt {text-align: left; color: #07338b; font-weight: bold; font-size: 13px; padding: 0 8px; line-height: 20px;}
#jhse {display:block; position:absolute; top:1px; left:1px width:17px; height:17px; cursor:pointer; outline:none; background-color:transparent; font:bold "宋体","仿宋_GB2312","黑体";}
#loginDex {position:absolute; margin:100px auto;background-color: white;width: 300px;height: 150px;align:center;}